# Workspace version: 1.42.61
uvicorn[standard]==0.29.0
fastapi==0.111.0
ipykernel==6.29.5
python-multipart==0.0.9
databutton==0.38.34
openai
beautifulsoup4
requests
anthropic
pdfplumber
langchain
langchain-openai
WeasyPrint